<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atletas Inscritos - AtletEasy</title>
    <link rel="stylesheet" href="/static/css/atletasInscritos.css">
</head>
<body>
    <!-- Barra Lateral -->
   <div class="menu-lateral">
    <img src="/static/images/logo.png" alt="Logo AtletEasy">
    <ul>
        <li><a href="{{ url_for('clube.home_clube') }}">Home Clube</a></li>
        <li><a href="{{ url_for('clube.criar_peneira') }}">Criar Peneira</a></li>
        <li><a href="{{ url_for('clube.gerenciar_peneira') }}">Gerenciar Peneiras</a></li>
        <li><a href="{{ url_for('clube.ficha_jogo', idPeneira=1) }}">Ficha de Jogo</a></li>
        <li><a href="{{ url_for('atleta.confirmar_logout') }}" class="logout">Sair</a></li>
    </ul>
</div>
    <div class="conteudo">
        <h1>Atletas Inscritos na Peneira</h1>
        {% if atletas %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>CPF</th>
                    <th>Posição</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>Experiência</th>
                    <th>Velocidade</th>
                    <th>Técnica</th>
                    <th>Visão de Jogo</th>
                    <th>Gols</th>
                    <th>Assistências</th>
                    <th>Cartões</th>
                </tr>
            </thead>
            <tbody>
                {% for atleta in atletas %}
                <tr>
                    <td>{{ atleta.Nome }}</td>
                    <td>{{ atleta.Sobrenome }}</td>
                    <td>{{ atleta.CPF }}</td>
                    <td>{{ atleta.Posicao }}</td>
                    <td>{{ atleta.Altura }}</td>
                    <td>{{ atleta.Peso }}</td>
                    <td>{{ atleta.Experiencia }}</td>
                    <td>{{ atleta.Velocidade }}</td>
                    <td>{{ atleta.Tecnica }}</td>
                    <td>{{ atleta.VisaoDeJogo }}</td>
                    <td>{{ atleta.Gols }}</td>
                    <td>{{ atleta.Assistencias }}</td>
                    <td>{{ atleta.Cartoes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhum atleta inscrito nesta peneira.</p>
        {% endif %}
    </div>
</body>
</html>
