<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Peneira</title>
    <link rel="stylesheet" href="/static/css/criarPeneira.css">
</head>
<body>
    <!-- Barra Lateral -->
    <div class="menu-lateral">
        <img src="/static/images/logo.png" alt="Logo AtletEasy">
        <ul>
            <li><a href="{{ url_for('clube.home_clube') }}">Home Clube</a></li>
            <li><a href="{{ url_for('clube.criar_peneira') }}">Criar Peneira</a></li>
            <li><a href="{{ url_for('clube.gerenciar_peneira') }}">Gerenciar Peneiras</a></li>
            <li><a href="{{ url_for('clube.ficha_jogo', idPeneira=1) }}">Ficha de Jogo</a></li>
        </ul>
    </div>

    <!-- Conteúdo Principal -->
    <div class="conteudo">
        <h1>Criar Peneira</h1>
        <form method="POST" action="{{ url_for('clube.criar_peneira') }}">
            <label for="esportePeneira">Esporte:</label>
            <input type="text" name="esportePeneira" required><br>

            <label for="Endereco">Endereço:</label>
            <input type="text" name="Endereco" required><br>

            <label for="DataInicio">Data de Início:</label>
            <input type="date" name="DataInicio" required><br>

            <label for="DataFinal">Data Final:</label>
            <input type="date" name="DataFinal" required><br>

            <label for="Horario">Horário:</label>
            <input type="time" name="Horario" required><br>

            <label for="QuantidadeMaxima">Quantidade Máxima:</label>
            <input type="number" name="QuantidadeMaxima" min="10" max="50" required><br>

            <label for="status">Status:</label>
            <select name="status" required>
                <option value="Aberto">Aberto</option>
                <option value="Fechado">Fechado</option>
            </select><br>

            <label for="Estado">Estado:</label>
            <input type="text" name="Estado" required><br>

            <label for="Cidade">Cidade:</label>
            <input type="text" name="Cidade" required><br>

            <button type="submit">Criar Peneira</button>
        </form>
    </div>
</body>
</html>
