<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - AtletEasy</title>
    <link rel="stylesheet" href="/static/css/homeClube.css">
</head>
<body>
   <!-- Menu Lateral -->
   <div class="menu-lateral">
    <img src="/static/images/logo.png" alt="Logo AtletEasy">
    <ul>
        <li><a href="/home-clube">Home Clube</a></li>
        <li><a href="/criar-peneira">Criar Peneira</a></li>
        <li><a href="/gerenciar-peneira">Gerenciar Peneiras</a></li>
        <li><a href="{{ url_for('ficha_jogo', idPeneira=1) }}">Ficha de Jogo</a></li>
    </ul>
</div>

<!-- Conteúdo Principal -->
<div class="conteudo">
    <h1>Bem-vindo ao AtletEasy!</h1>

    <div class="cards">
        <div class="card">
            <h2>Peneiras Ativas</h2>
            <p>{{ total_peneiras }} Peneiras</p>
            <a href="/gerenciar-peneira" class="botao">Ver Peneiras</a>
        </div>
    </div>
    
    <!-- Listagem de Peneiras Criadas pelo Clube -->
    <div class="lista-peneiras">
        <h2>Suas Peneiras</h2>

        {% if peneiras %}
        <table>
            <thead>
                <tr>
                    <th>Nome da Peneira</th>
                    <th>Esporte</th>
                    <th>Local</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for peneira in peneiras %}
                <tr>
                    <td>{{ peneira.NomeClube }}</td>
                    <td>{{ peneira.esportePeneira }}</td>
                    <td>{{ peneira.Local }}</td>
                    <td>
                        <a href="{{ url_for('atletas_inscritos', idPeneira=peneira.idPeneira) }}" class="btn btn-info">Ver Atletas Inscritos</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhuma peneira cadastrada.</p>
        {% endif %}
    </div>

    <div class="card">
        <h2>Atletas Cadastrados</h2>
        <p>25 Atletas</p>
        <a href="/templates/fichajogo.html" class="botao">Ver Atletas</a>
    </div>

    <!-- Destaques -->
    <div class="destaques">
        <h2>Atletas em Destaque</h2>

        <div class="destaque-item">
            <p>João Silva</p>
            <span>Atacante</span>
        </div>

        <div class="destaque-item">
            <p>Lucas Souza</p>
            <span>Meio-Campo</span>
        </div>

        <div class="destaque-item">
            <p>Maria Pereira</p>
            <span>Goleira</span>
        </div>
    </div>
</div>
</body>
</html>
