<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Peneiras</title>
    <link rel="stylesheet" href="/static/css/verPeneira.css">
</head>

<body>
    <div class="menu-lateral">
        <div class="logo">
            <img src="/static/images/logo.png" alt="Logo Atletas" style="width: 100%; margin-bottom: 20px;">
        </div>
        <nav>
            <ul>
                <li><a href="/home-atleta" style="font-weight: bold;">Home</a></li>
                <li><a href="/visualizar-peneiras">Suas Peneiras</a></li>
                <li><a href="/perfil-atleta">Perfil do Atleta</a></li>
            </ul>
        </nav>
    </div>

    <div class="conteudo">
        <h1>Visualizar Peneiras</h1>
        
        <!-- Verifica se há peneiras -->
        {% if peneiras %}
        <table>
            <thead>
                <tr>
                    <th>Nome do Clube</th>
                    <th>Esporte</th>
                    <th>Local</th>
                    <th>Data Início</th>
                    <th>Horário</th>
                    <th>Quantidade Máxima</th>
                    <th>Status</th>
                    <th>CEP</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera sobre as peneiras e exibe os dados -->
                {% for peneira in peneiras %}
                <tr>
                    <td>{{ peneira.NomeClube }}</td>
                    <td>{{ peneira.esportePeneira }}</td>
                    <td>{{ peneira.Local }}</td>
                    <td>{{ peneira.DataInicio.strftime('%d/%m/%Y') }}</td>
                    <td>{{ peneira.Horario }}</td>
                    <td>{{ peneira.QuantidadeMaxima }}</td>
                    <td>{{ 'Aberta' if peneira.status == 1 else 'Fechada' }}</td>
                    <td>{{ peneira.CEP }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhuma peneira cadastrada.</p>
        {% endif %}
    </div>
</body>
</html>
